<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{74,362},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{74,400},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_bigrock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_bigrock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{1,44},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_bigrock_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{1,87},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_bigrock_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{1,130},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatboy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{39,963},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatboy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{1,486},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_boatboy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{64,491},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatboy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{64,545},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatboy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{43,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{66,234},{43,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_boatboy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{25,399},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatboy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{53,726},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatgirl_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{39,963},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatgirl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{1,531},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_boatgirl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{64,518},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatgirl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{51,902},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatgirl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{43,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{66,279},{43,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_boatgirl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{25,426},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_boatgirl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{39,982},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{32,530},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,787},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{53,203},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{33,573},{36,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_sharkboy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{63,923},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,826},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,705},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,576},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkboy_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{25,453},{30,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_sharkgirl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,619},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,865},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{53,649},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{33,611},{36,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_sharkgirl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{63,952},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,904},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,746},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{1,662},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_sharkgirl_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{32,485},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_smallrock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{27,362},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_smallrock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{27,307},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_smallrock_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{27,248},{57,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_smallrock_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{62,573},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{19,36}</string>
                <key>textureRect</key>
                <string>{{51,745},{19,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{70,453},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{53,680},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{51,862},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{18,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,649},{18,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{71,680},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{1,398},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,741},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,879},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{61,161},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_boy_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{61,1},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{18,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{1,943},{18,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{39,923},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{18,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,695},{18,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,787},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{1,442},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{33,833},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{21,943},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{61,117},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumping_girl_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{61,59},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>surf_boy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{51,806},{12,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_boy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{51,820},{12,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_boy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{51,834},{12,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_boy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{51,848},{12,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_girl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{51,787},{17,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_girl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{51,766},{19,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surf_girl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{21,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{66,324},{21,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>surf_girl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{21,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{62,610},{21,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,73}</string>
                <key>spriteSourceSize</key>
                <string>{24,73}</string>
                <key>textureRect</key>
                <string>{{1,173},{24,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,73}</string>
                <key>spriteSourceSize</key>
                <string>{24,73}</string>
                <key>textureRect</key>
                <string>{{1,248},{24,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,73}</string>
                <key>spriteSourceSize</key>
                <string>{24,73}</string>
                <key>textureRect</key>
                <string>{{27,173},{24,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,73}</string>
                <key>spriteSourceSize</key>
                <string>{24,73}</string>
                <key>textureRect</key>
                <string>{{1,323},{24,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character_anim.png</string>
            <key>size</key>
            <string>{88,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a23738e339d922604ae05539f6031d:d032ad01cb4d8c9cfca536def934484f:58af53e8e7c4e35eab079ff1d55e13f1$</string>
            <key>textureFileName</key>
            <string>character_anim.png</string>
        </dict>
    </dict>
</plist>
