<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beam_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,600}</string>
                <key>spriteSourceSize</key>
                <string>{35,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beam_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,600}</string>
                <key>spriteSourceSize</key>
                <string>{35,600}</string>
                <key>textureRect</key>
                <string>{{38,1},{31,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beam_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,600}</string>
                <key>spriteSourceSize</key>
                <string>{35,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{33,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beam_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,600}</string>
                <key>spriteSourceSize</key>
                <string>{35,600}</string>
                <key>textureRect</key>
                <string>{{36,603},{31,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigrock_destruction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{1,1311},{61,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigrock_destruction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{31,1433},{53,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigrock_destruction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{31,1374},{57,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boat_destruction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{1,1622},{54,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boat_destruction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{53,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{1,1678},{53,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boat_destruction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{1,1504},{57,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{104,54}</string>
                <key>textureRect</key>
                <string>{{1,1205},{104,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{1,1374},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,25}</string>
                <key>spriteSourceSize</key>
                <string>{41,25}</string>
                <key>textureRect</key>
                <string>{{40,1488},{41,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{1,1445},{57,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idleshark_destruction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{40,1568},{27,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idleshark_destruction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{36,1678},{47,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idleshark_destruction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{1,1563},{57,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movingshark_destruction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{45,1311},{46,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movingshark_destruction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{36,1678},{47,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movingshark_destruction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{1,1563},{57,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallrock_destruction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{40,1531},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallrock_destruction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{31,1433},{53,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallrock_destruction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{31,1374},{57,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>destruction_anim.png</string>
            <key>size</key>
            <string>{70,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e4ece40a4f9bd22484def599cf6a5ad:78640e3fd93153c34d9230c8fb1551fd:6bf55810ddea5bfaca852648579948d0$</string>
            <key>textureFileName</key>
            <string>destruction_anim.png</string>
        </dict>
    </dict>
</plist>
