<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{60,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>big_rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>big_rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>big_rock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,198},{56,40}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>fishing_boat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,240},{55,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>fishing_boat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,284},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>fishing_boat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>fishing_boat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,328},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>moving_shark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,402},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>moving_shark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{46,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>moving_shark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,425},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>moving_shark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{46,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>ramp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,372},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>ramp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>small_rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,448},{26,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>small_rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,439},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>small_rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>small_rock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,402},{24,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>speedboat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>speedboat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{46,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,115}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>speedboat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{48,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,117}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>speedboat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,121}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>static_shark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,478},{28,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>static_shark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{28,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>static_shark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,452},{26,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>static_shark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,478},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects_anim.png</string>
            <key>size</key>
            <string>{126,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e08e4b80e87b02ed0443a8ef62380bc:ea42e37c27d0ca0fee297758c8506e39:484d3d6e5cddb1f4e3bf87818c27f562$</string>
            <key>textureFileName</key>
            <string>objects_anim.png</string>
        </dict>
    </dict>
</plist>
